body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
    background-color:#d9d9d9;
}

header {
    background: #333;
    color: white;
    padding: 1rem;
}

/*
.content {
    padding: 2rem;
}
*/

.content {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 50px;
    background-color: #e8e8e8;
    box-sizing: border-box;
}

figure {
    margin: 30px auto;
    text-align: center;
}

figure img {
    max-width: 100%;
    height: auto;
}

figcaption {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #555;
}

/*
img {
    max-width: 1100px;
    width: 90%;
    height: auto;
    margin-bottom: 1rem;
}
*/

footer {
    background: #f4f4f4;
    padding: 1rem;
}

.content p {
    font-family: "Times New Roman", Times, serif;
    text-align: left;
}

.content li {
    font-family: "Times New Roman", Times, serif;
    text-align: left;
}